.input-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em {
    right: var(--multi-rem-pr); // 1em
    top: var(--multi-rem-pt); // 3em
  }
  position: relative;
  border: var(--multi-rem-bd);
  border-radius: 20px;
}

button.remover {
  background-image: url("../../assets/remove-svgrepo-com.svg");
  appearance: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: var(--multi-rem-btn-r);
  top: var(--multi-rem-btn-t);

  $btn-size: 2.5em;

  width: $btn-size;
  height: $btn-size;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}
