.input-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em {
    right: var(--multi-rem-pr); // 1em
    top: var(--multi-rem-pt); // 3em
  }
  position: relative;
  border: var(--multi-rem-bd);
  border-radius: 20px;
  animation: slide-down 0.2s ease-out;
  transform-origin: top;
  animation-fill-mode: both;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
    margin-bottom: var(--animation-btn-slide);
  }

  70% {
    opacity: 0;
    transform: scaleY(0.7);
    margin-bottom: -0.9em;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    margin-bottom: 0;
  }
}

//animation to make element slide up when removed:
button.remover {
  background-image: url("../../assets/remove-svgrepo-com.svg");
  appearance: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: var(--multi-rem-btn-r);
  top: var(--multi-rem-btn-t);

  $btn-size: 2.5em;

  width: $btn-size;
  height: $btn-size;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}
