label.text-input {
  display: block;
  position: relative;
  font-size: 1em;

  > span {
    position: absolute;
    top: -0.5em;
    left: 1em;
    background-color: white;
    padding: 0 0.5em;
  }

  $border-width: 0.1em;

  > input {
    height: 3em;
  }

  > textarea {
    height: 7em;
  }

  > input,
  > textarea {
    border-radius: 1.5em;
    border: $border-width solid gray;
    outline: none;
    width: 100%;
    font: inherit;
    padding: 0.5em {
      bottom: 0;
    }

    &:focus {
      border: $border-width solid #00fa00;
    }
  }
}
