.config-delete-btn {
  --multi-list-gap: 3em;
  --multi-rem-pr: 1em;
  --multi-rem-pt: 3em;
  --multi-rem-bd: 1px solid gray;
  --multi-rem-btn-r: 0;
  --multi-rem-btn-t: 0;
  --animation-btn-slide: -18em;
}
